body{
    height: 400px;
    padding: 60px;
}



.layout {
    border: 5px solid black;
    width: 70%;
    
    



}

header {
    height: 100px;

}

nav {

    height: 40px;
    width: 100%;
    background-color: grey;
    display: flex
}

.groups {
    margin: 10px;
    display: flex;
    height: 500px;
}

.main {
    height: 500px;
    background-color: blue;
    width: 90%;
    display: inline-block
}

.box1 {
    margin: 5px;
    height: 200px;
}

.box2 {
    margin: 5px;
    height: 200px;

}

.contain {
    margin: 2px;
padding: 0px;
    width: 50%;
    height: 500px;
    background-color: green;

}

.box3 {
    margin: 10px;
    height: 150px;
    width: 43%;


    background-color: white;
}

.box4 {
    margin: 10px;
    height: 230px;
    width: 43%;

    background-color: white;
}

.box5 {
    margin: 0px 5px 5px 5px;
    width: 43%;
    height: 70px;
    background-color: white;



}

footer {
    background-color: grey;
    height: 40px;
    text-align: center;
}