*{
    margin: 0px;
    padding: 0px;
}
nav{
    margin: 2px;
    height: 30px;
    width: 100%;
    background-color: grey;
    text-align: center;
}
header{
    margin: 2px;
    height: 50px;
    width: 100%;
    background-color: darkgray;
    text-align: center;
}
.parent{
    height: 250px;
    width: 100%;
    display: flex;
}
.child1{
    margin: 2px;
width: 50%;    
background-color:wheat;
height: 250px;
text-align: center;

}
.child2{
    margin: 2px;
    width: 49%;
    background-color:lightgreen;
    height: 250px;
    text-align: center;
}
footer{
    text-align: center;
    width: 100%;
    background-color: grey;
    height: 50px;
}