*{
    margin: 0px;
    padding: 0px;
}
.parent{
    width: 100%;
    height: 300px;
    background-color: yellow;
    display: flex;
}
.child1{
    flex: 2;
    height: 300px;
    background-color:brown;
}
.child2{
    flex: 2;
    height: 300px;
    background-color: lawngreen;
}
.child3{
    flex: 1;
    height: 300px;
    background-color: skyblue;
}