*{
    margin: 0px;
    padding: 0px;
}
.parent{
    width: 100%;
    height: 300px;
    background-color: yellow;
    display: flex;
}
.child1{
    width: 20%;
    height: 300px;
    background-color:green;
}
.child2{
    width: 20%;
    height: 300px;
    background-color: blue;
}
.child3{
    width: 20%;
    height: 300px;
    background-color: orange;
}
.child4{
    width: 20%;
    height: 300px;
    background-color:pink; 
}
.child5{
    width: 20%;
    height: 300px;
    background-color: purple;
}
