*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 60px;
    width: 100%;
    background-color: gray;
    display: flex;
}
.groups{
    width: 100%;
    height: 60px;
    display: flex;
}
.child{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1{
    width: 20%;
    height: 20px;
}
.child2{
    width: 20%;
    height: 20px;
}
.child3{
    width: 20%;
    height: 20px;
}
.child4{
    width: 20%;
    height: 20px;
}
.child5{
    width: 20%;
    height: 20px;
}
.contain{
    width: 100%;
    height: 250px;
    /* background-color: orange; */
    display: flex;
    padding: 20px;
}
.contain1{
    width: 100%;
    height: 70px;
}
button{
    height: 30px;
    width: 30%;
    background-color: orangered;
}
.contain2{
    height: 200px;
    width: 100%;
    /* background-color: aqua; */
}
.contain3{
    height: 400px;
    width: 100%;
    background-color: grey;
    justify-content: center; 
     /* align-items: center;  */
    /* justify-content: space-around; */
}
.contain4{
    /* height: 400px; */
    /* width: 100%; */
    display: flex;
     justify-content: center; 
     align-items: center; 
    justify-content: space-around;
}
.box1{

margin: 5px;
height: 100px;
background-color: black;

}
.box2{
    
margin: 5px;
    height: 100px;
    background-color: black;
    
}
.box3{
    
margin: 5px;
height: 100px;
background-color: black;

}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
box2 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.box2 h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}




