*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    height: 100px;
    /* width: 60%; */
    /* background-color: blue; */
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    
}
.heading1{
    width: 50%;
    height: 20px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading1 h6{
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20%;
    /* background-color: goldenrod; */
    color: goldenrod;
}
.parent1{
    margin: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child1{
    margin: 10px;
    height: 200px;
    /* background-color: blueviolet; */
    
}
.box1{
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    border: 1px solid grey;
    display: flex;
    
}
.contain{
    height: 150px;
    width: 20%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height:50px;
    width: 30%;
    background-color: green;
}
.text{
    height: 200px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.para1{
    /* background-color: orange; */
    height: 160px;
    width: 100%;
}
.child2{
    margin: 10px;
    height: 200px;
    /* background-color: green; */
}
.box2{
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    border: 1px solid grey;
    display: flex;
}
.contain1{
    height: 150px;
    width: 30%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100px;
    width: 100%;
    background-color: green;
}
.text2{
    height: 200px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.para2{
    /* background-color: orange; */
    height: 160px;
    width: 100%;
}
.parent2{
    margin: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child3{
    margin: 10px;
    height: 200px;
    /* background-color: blueviolet; */
}
.box3{
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    border: 1px solid grey;
    display: flex;
}
.contain2{
    height: 150px;
    width: 30%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100px;
    width: 100%;
    background-color: green;
}
.text3{
    margin: 10px;
    height: 200px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content:center;
    
}
.para3{
    /* margin: 10px; */
    /* background-color: orange; */
    height: 200px;
    width: 100%;
}
.child4{
    margin: 10px;
    height: 200px;
    /* background-color: green; */
}
.box4{
    /* margin: 5px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    border: 1px solid grey;
    display: flex;
}
.contain3{
    height: 150px;
    width: 30%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100px;
    width: 50%;
    background-color: green;
}
.text4{
    margin: 10px;
    height: 200px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.para4{
    /* background-color: orange; */
    height: 200px;
    width: 100%;
}
@media only screen and (min-width:768px) and (max-width:991px){
    .box3{
        height: 250px;
    }
    .box4{
        height: 250px;
    }
}
